$surface-darkgrey: #20252b;
$surface-fg: #949494;
$surface-lightgrey: #3d464e;
$surface-grey: #2b3238;
$surface-red: #f87070;

* { all: unset; }
box {
    background-color: $surface-fg;
    animation-name: frame-animation;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(8);
}

@keyframes frame-animation {
    0% { background-image: url('./Button/button1.png'); }
    12% { background-image: url('./Button/button2.png'); }
    24% { background-image: url('./Button/button3.png'); }
    48% { background-image: url('./Button/button4.png'); }
    60% { background-image: url('./Button/button5.png'); }
    72% { background-image: url('./Button/button6.png'); }
    88% { background-image: url('./Button/button7.png'); }
    100% { background-image: url('./Button/button8.png'); }
}
