$surface-darkgrey: #20252b;
$surface-fg: #949494;
$surface-lightgrey: #3d464e;
$surface-grey: #2b3238;
$surface-red: #f87070;

* { all: unset; }
box {
    background-color: $surface-fg;
    animation-name: frame-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2);
}

@keyframes frame-animation {
    0% { background-image: url('./button.png'); }
    50% { background-image: url('./button.png'); }
    100% { background-image: url('./button-clicked.png'); }
}
